---
import { Container, FeatureCard } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import { work } from '../config/work';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>制作実績</h2>
			<p>WEBSONの制作実績をご紹介します。</p>
			<ul class="work-list">
				{
					work.map((item)=>(
					<li class="work-item">
					<figure class="work-image">
						<img src={`/assets/images/works/${item.imageUrl}.png`} alt="" />
					</figure>
					<h3 class="work-title">{item.title}</h3>
					<p class="work-desc">
						{item.desc}
					</p>
				</li>
					))
				}
			</ul>
		</section>
	</Container>
	<Container>
		<section class="feature-card__section">
			<h2>サービス</h2>
			<p>
				なんのためにウェブサイトをつくるのでしょうか。作りたいと思う人それぞれに、目的があるはずです。
			</p>
			<p>
				お店の売上をあげたい。自社のことを知らせたい。新規のお客様に来てほしい。などなど。あなたの状況や目的に最適な、ホームページ制作、運用、ウェブを使った施策を提案します。
			</p>
			<p>
				Web技術に明るくなくても大丈夫です。教員経験のあるそんほんすは、あなたの意識にあるキーワードから、適切に課題を導き出し、対応策をわかりやすくご説明いたします。あなたのお店・会社のウェブ担当のつもりでご相談ください。
			</p>
			<ul class="service__list">
				<li class="service__item">
					<figure class="service__image-wrapper">
						<img src="/assets/images/home/service_website.svg" alt="" />
					</figure>
					<div class="service__text-block">
						<h3 class="service__heading">ホームページ制作、改修、保守運用</h3>
						<div class="service__desc">
							お客様のビジネスの状況をききとり、ホームページ制作、改修、保守運用など行います。ホームページを開設するための方法もいろいろあります。それぞれのやり方のメリット、デメリットを考慮に入れて、提案をいたします。
							<table>
								<tr>
									<td> ホームページ制作 オリジナルデザイン </td>
									<td> 20万円〜 </td>
								</tr>
								<tr>
									<td> ホームページ制作 テンプレート </td>
									<td> 5万円〜 </td>
								</tr>
								<tr>
									<td> 保守運用 </td>
									<td> 1.5万円／月〜 </td>
								</tr>
								<tr>
									<td> 改修、リニューアル等 </td>
									<td> 都度お見積り </td>
								</tr>
							</table>
						</div>
					</div>
				</li>
				<li class="service__item">
					<figure class="service__image-wrapper">
						<img src="/assets/images/home/service_sns.svg" alt="" />
					</figure>
					<div class="service__text-block">
						<h3 class="service__heading">
							MEO対策、SNS運用コンサル
						</h3>
						<div class="service__desc">
							LINE、インスタなどのSNS、SEO,MEOなどの検索への対策など、ウェブ技術を活用した集客のお手伝いをいたします。サイトとの連動など総合的に状況を判断して、効果的な施策を提案、代行等いたします。ときには、オフライン施策も含めてのご提案もいたします。代表のそんほんすが対応するので、フットワーク軽く様々なご相談をお受けいたします。
							<table>
								<tr>
									<td> MEO初期構築（Googleマイビジネス） </td>
									<td> 5万円〜 </td>
								</tr>
								<tr>
									<td> MEO対策 </td>
									<td> 1万円／月〜 </td>
								</tr>
								<tr>
									<td> SNS施策コンサル </td>
									<td> 3万円／月〜 </td>
								</tr>
							</table>
						</div>
					</div>
				</li>
			</ul>
		</section>
	</Container>


	<Container>
		<section class="feature-card__section">
			<h2>そんほんすについて</h2>
			<div class="about">
				<figure class="about__image">
					<img src="/assets/images/icon.png" alt="" />
				</figure>
				<p>
					２０１９年春頃から本格的にプログラミングやウェブ制作の学習にとりくみはじめました。教員経験を通して培ってきたコミュニケーション力や課題解決力をウェブ制作事業によって社会に還元したいという思いが募り、現在副業でウェブ制作・開発にとりくんでいます。
				</p>
			</div>
		</section>
	</Container>
</Layout>

<style>
	ul {
		padding: 0;
		list-style-type: none;
	}

	table,tr,td{
		border: 1px solid #333;
		text-align: center;
	}
	table{
		width: 80%;
		margin-top: 48px;
		margin-right: auto;
		margin-left: auto;
	}

	.work-list {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
	}
	.work-item{
		width: 45%;
	}
	p.work-desc{
		text-align: justify;
	}

	@media (max-width: 768px) {
		.work-list {
			flex-direction: column;
		}
	}

	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
	.service__item {
		display: flex;
		gap: 5%;
	}

	.service__item + li {
		margin-top: 80px;
	}
	.service__image-wrapper {
		flex: 1;
	}
	.service__text-block {
		flex: 3;
	}
	@media (max-width: 768px) {
		.service__item {
			flex-direction: column-reverse;
		}
		.service__image-wrapper,
		.service__text-block {
			flex: 1;
		}
	}
	.about {
		display: flex;
		gap: 5%;
	}
	.about__image {
		width: 400px;
	}
</style>
