---
import { Button, FormInput, FormSelect, FormTextarea } from '@littlesticks/odyssey-theme-components';

const selectOptions = [
  "検索",
  "ツイッターなどのSNS",
  "名刺",
  "その他",
]

---

<form name="Contact Form" method="POST" action="https://getform.io/f/3cec2d7d-3f3e-46ba-8ff2-9f6bde91813b">
  <FormInput type="text" label="お名前" name="Name" placeholder="おなまえはこちら" />
  <FormInput type="email" label="メールアドレス" name="Email" placeholder="hello@example.com" />
  <FormSelect label="どこでウェブソンのことをお知りになりましたか？" options={selectOptions} />
  <FormTextarea label="メッセージ" name="Message" placeholder="こちらにご入力ください。" />
  <Button>送信する</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>
